# import library

In [4]:
import pandas as pd

## Load dimension tables

In [8]:
df_date = pd.read_csv("dim_date.csv")
df_hotels = pd.read_csv("dim_hotels.csv")
df_rooms = pd.read_csv("dim_rooms.csv")

### Load fact tables

In [10]:
df_fact_bookings = pd.read_csv("fact_bookings.csv")
df_agg_bookings = pd.read_csv("fact_aggregated_bookings.csv")

### Preview data

In [11]:
print("Date Table")
print(df_date.head())

Date Table
         date  mmm yy  week no  day  type day_name
0  01-05-2022  May-22       19          5  weekday
1  02-05-2022  May-22       19          5  weekday
2  03-05-2022  May-22       19          5  weekday
3  04-05-2022  May-22       19          5  weekday
4  05-05-2022  May-22       19          5  weekday

In [12]:
print("\nHotels Table")
print(df_hotels.head())

Hotels Table
   property_id  property_name  category    city
0        16558   Atliq Grands    Luxury   Delhi
1        16559  Atliq Exotica    Luxury  Mumbai
2        16560     Atliq City  Business   Delhi
3        16561      Atliq Blu    Luxury   Delhi
4        16562      Atliq Bay    Luxury   Delhi

In [13]:
print("\nRooms Table")
print(df_rooms.head())

Rooms Table
  room_id    room_class
0     RT1      Standard
1     RT2         Elite
2     RT3       Premium
3     RT4  Presidential

In [14]:
print("\nFact Bookings Table")
print(df_fact_bookings.head())

Fact Bookings Table
         booking_id  property_id booking_date check_in_date checkout_date  \
0  May012216558RT11        16558   2022-04-27    2022-05-01    2022-05-02
1  May012216558RT12        16558   2022-04-30    2022-05-01    2022-05-02
2  May012216558RT13        16558   2022-04-28    2022-05-01    2022-05-04
3  May012216558RT14        16558   2022-04-28    2022-05-01    2022-05-02
4  May012216558RT15        16558   2022-04-27    2022-05-01    2022-05-02

   no_guests room_category booking_platform  ratings_given booking_status  \
0          3           RT1    direct online            1.0    Checked Out
1          2           RT1           others            NaN      Cancelled
2          2           RT1          logtrip            5.0    Checked Out
3          2           RT1           others            NaN      Cancelled
4          4           RT1    direct online            5.0    Checked Out

   revenue_generated  revenue_realized
0              10010             10010
1               9100              3640
2               9100              9100
3               9100              3640
4              10920             10920

In [15]:
print("\nAggregated Bookings Table")
print(df_agg_bookings.head())

Aggregated Bookings Table
   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30
2        19563     01-May-22           RT1                   23        30
3        17558     01-May-22           RT1                   13        19
4        16558     01-May-22           RT1                   18        19

### Check nulls and datatypes

In [16]:
for name, df in {
    'dim_date': df_date,
    'dim_hotels': df_hotels,
    'dim_rooms': df_rooms,
    'fact_bookings': df_fact_bookings,
    'fact_aggregated_bookings': df_agg_bookings
}.items():
    print(f"\n{name} info:")
    print(df.info())
    print("Missing values:\n", df.isnull().sum())

dim_date info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       92 non-null     object
 1   mmm yy     92 non-null     object
 2   week no    92 non-null     int64
 3   day  type  92 non-null     int64
 4   day_name   92 non-null     object
dtypes: int64(2), object(3)
memory usage: 3.7+ KB
None
Missing values:
 date         0
mmm yy       0
week no      0
day  type    0
day_name     0
dtype: int64

dim_hotels info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     object
 3   city           25 non-null     object
dtypes: int64(1), object(3)
memory usage: 932.0+ bytes
None
Missing values:
 property_id      0
property_name    0
category         0
city             0
dtype: int64

dim_rooms info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   room_id     4 non-null      object
 1   room_class  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes
None
Missing values:
 room_id       0
room_class    0
dtype: int64

fact_bookings info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB
None
Missing values:
 booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        77907
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

fact_aggregated_bookings info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB
None
Missing values:
 property_id            0
check_in_date          0
room_category          0
successful_bookings    0
capacity               0
dtype: int64

### Clean column names

In [18]:
def clean_column_names(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    return df

df_date = clean_column_names(df_date)
df_hotels = clean_column_names(df_hotels)
df_rooms = clean_column_names(df_rooms)
df_fact_bookings = clean_column_names(df_fact_bookings)
df_agg_bookings = clean_column_names(df_agg_bookings)

#### For 'ratings_given' in fact_bookings, let's fill missing with median (or you can choose mean or 0)

In [24]:
df_fact_bookings['ratings_given'] = df_fact_bookings['ratings_given'].fillna(df_fact_bookings['ratings_given'].median())

In [26]:
for name, df in {
    'dim_date': df_date,
    'dim_hotels': df_hotels,
    'dim_rooms': df_rooms,
    'fact_bookings': df_fact_bookings,
    'fact_aggregated_bookings': df_agg_bookings
}.items():
    print(f"\n{name} info:")
    print(df.info())
    print("Missing values:\n", df.isnull().sum())

dim_date info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       92 non-null     object
 1   mmm_yy     92 non-null     object
 2   week_no    92 non-null     int64
 3   day__type  92 non-null     int64
 4   day_name   92 non-null     object
dtypes: int64(2), object(3)
memory usage: 3.7+ KB
None
Missing values:
 date         0
mmm_yy       0
week_no      0
day__type    0
day_name     0
dtype: int64

dim_hotels info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     object
 3   city           25 non-null     object
dtypes: int64(1), object(3)
memory usage: 932.0+ bytes
None
Missing values:
 property_id      0
property_name    0
category         0
city             0
dtype: int64

dim_rooms info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   room_id     4 non-null      object
 1   room_class  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes
None
Missing values:
 room_id       0
room_class    0
dtype: int64

fact_bookings info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      134590 non-null  float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB
None
Missing values:
 booking_id           0
property_id          0
booking_date         0
check_in_date        0
checkout_date        0
no_guests            0
room_category        0
booking_platform     0
ratings_given        0
booking_status       0
revenue_generated    0
revenue_realized     0
dtype: int64

fact_aggregated_bookings info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB
None
Missing values:
 property_id            0
check_in_date          0
room_category          0
successful_bookings    0
capacity               0
dtype: int64

### Convert date columns in fact_bookings

In [27]:
df_fact_bookings['booking_date'] = pd.to_datetime(df_fact_bookings['booking_date'])
df_fact_bookings['check_in_date'] = pd.to_datetime(df_fact_bookings['check_in_date'])
df_fact_bookings['checkout_date'] = pd.to_datetime(df_fact_bookings['checkout_date'])

### Convert check_in_date in aggregated bookings

In [28]:
df_agg_bookings['check_in_date'] = pd.to_datetime(df_agg_bookings['check_in_date'])

C:\Users\SHIVAM KUMAR\AppData\Local\Temp\ipykernel_14828\1877798596.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_agg_bookings['check_in_date'] = pd.to_datetime(df_agg_bookings['check_in_date'])

In [30]:
print(df_agg_bookings['check_in_date'].head(5))

0   2022-05-01
1   2022-05-01
2   2022-05-01
3   2022-05-01
4   2022-05-01
Name: check_in_date, dtype: datetime64[ns]

In [32]:
df_agg_bookings['check_in_date'] = pd.to_datetime(df_agg_bookings['check_in_date'], format="%Y-%m-%d")

### Convert date in dim_date

In [35]:
df_date['date'] = pd.to_datetime(df_date['date'], format="%d-%m-%Y")

## Merge Dimension Tables

#### Merge with hotel details

In [37]:
df_merged = df_fact_bookings.merge(df_hotels, on='property_id', how='left')

#### Merge room details using 'room_category' from fact and 'room_class' from dim_rooms

In [39]:
df_merged = df_merged.merge(df_rooms, left_on='room_category', right_on='room_class', how='left')

## Feature Engineering

###  Stay duration (number of nights)

In [41]:
df_merged['nights_stayed'] = (df_merged['checkout_date'] - df_merged['check_in_date']).dt.days

### Booking month & year for time analysis

In [43]:
df_merged['booking_month'] = df_merged['booking_date'].dt.to_period('M')
df_merged['check_in_month'] = df_merged['check_in_date'].dt.to_period('M')

### Revenue per guest

In [44]:
df_merged['revenue_per_guest'] = df_merged['revenue_realized'] / df_merged['no_guests']

## Export Cleaned Dataset

### Export cleaned merged file

In [45]:
df_merged.to_csv("cleaned_hotel_bookings.csv", index=False)

### Optional: export aggregated table too

In [46]:
df_agg_bookings.to_csv("cleaned_aggregated_bookings.csv", index=False)

In [47]:
print("Data cleaned and saved successfully!")

Data cleaned and saved successfully!